services:
  speciesnet:
    image: speciesnet:cuda12.2
    container_name: speciesnet
    runtime: nvidia
    environment:
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: compute,utility
            
    volumes:
      - /srv04a/10451739_CDOT_Greenland/data:/data
      
    working_dir: /data
    restart: unless-stopped
