version: "3.9"

services:
  speciesnet:
    image: speciesnet:cuda12.2
    container_name: speciesnet
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
            
    volumes:
      - /srv04a/10451739_CDOT_Greenland/data:/data
      
    working_dir: /data
